* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #000000;
	color: #ffffff;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
	line-height: 1.6;
	padding: 1rem;
}